/* Son of Suckerfish Dropdowns
---------------------------------------------------------
Originally developed by Patrick Griffiths and Dan Webb
http://www.htmldog.com/articles/suckerfish/dropdowns/
---------------------------------------------------------
NOTE: After a deep research, we decide to divide this
CSS into 2 parts. The first part will define the layout.
The second part will define the visual look for this menu.
---------------------------------------------------------*/

/* STYLING THE MENU
-----------------------------------*/
/* 1st level */

#ja-cssmenu li { padding: 0 5px; }

#ja-cssmenu li a {
	color: #A38D80;
	font-family: 'TitilliumText22LLight';
	font-size: 15px;
	margin-top: 10px;
	padding: 10px 10px 10px;
}

#ja-cssmenu li a:hover,
#ja-cssmenu li a:focus,
#ja-cssmenu li a:active { color: #fd8900; }

#ja-cssmenu li a.active,
#ja-cssmenu li a.active:hover,
#ja-cssmenu li a.active:active,
#ja-cssmenu li a.active:focus {
	color: #fd8900;
}

#ja-cssmenu li a.haschild:hover,
#ja-cssmenu li.havechildsfhover a {
	background: #e5ded8;
	border: 1px solid #f4efea;
	border-bottom: 0;
	color: #703a19;
	padding: 9px 9px 10px;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	box-shadow: 0 -2px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 -2px 3px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0 -2px 3px rgba(0, 0, 0, .4);	
}

/* 2nd level and above */
#ja-cssmenu li ul {
	background: #e5ded8;
	border: 1px solid #f4efea;
	border-top: 0;
	color: #73695c;
	border-radius: 0px 6px 6px 6px;
	-moz-border-radius: 0px 6px 6px 6px;
	-webkit-border-radius: 0px 6px 6px 6px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .3);
}

#ja-cssmenu li ul a {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 100%;
	color: #73695c !important;
	text-shadow: 0 1px 0 #f4f1ef;
}

#ja-cssmenu li ul a:hover,
#ja-cssmenu li ul a:focus,
#ja-cssmenu li ul a:active { color: #dd6d14 !important; }

#ja-cssmenu li ul a.active {
	color: #dd6d14 !important;
}

#ja-cssmenu li ul ul { border-top: 1px solid #e5ded8; }

#ja-cssmenu li ul li {
	border-bottom: 1px solid #d2c7be;
	border-top: 1px solid #f0ebe8;
	background: none;
}

#ja-cssmenu li ul li.first-item { border-top: 0; }
#ja-cssmenu li ul li.last-item { border-bottom: 0; }

#ja-cssmenu li ul li a {
	padding: 4px 10px;
}

#ja-cssmenu li ul li a.haschild:hover,
#ja-cssmenu li.havechildsfhover ul li a {
	border: 0;
	border-raidus: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

#ja-cssmenu li ul ul {
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	box-shadow: 0 0 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}